version: "3.8"

services:
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: {{ grafana_admin_user }}
      GF_SECURITY_ADMIN_PASSWORD: {{ grafana_admin_password }}
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
      GF_INSTALL_PLUGINS: "vertamedia-clickhouse-datasource"
    ports:
      - "{{ grafana_port }}:3000"
    volumes:
      - "{{ grafana_dir }}/data:/var/lib/grafana"
      - "{{ grafana_dir }}/provisioning:/etc/grafana/provisioning"
    networks:
      - iot_net

networks:
  iot_net:
    external: true
