apiVersion: 1

datasources:
  - name: ClickHouse
    uid: clickhouse
    type: vertamedia-clickhouse-datasource
    access: proxy
    isDefault: true
    url: http://clickhouse:{{ clickhouse_http_port }}
    jsonData:
      defaultDatabase: {{ clickhouse_db }}
      addCorsHeader: true
      usePOST: true
      tlsSkipVerify: true
    secureJsonData:
      username: {{ clickhouse_user }}
      password: {{ clickhouse_password }}
